@font-face {
  font-family: "Alfa Slab One";
  src: url("../css/fonts/AlfaSlabOne-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../css/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("../css/fonts/Oswald-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 1.125em;
  padding: 0.5em 1.4em;
}

h1, h2, h3 {
  color: #392919;
  font-family: "Alfa Slab One", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.45em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  margin: 1em 0;
}

.site-header__right ul li a, .products h1, .poster__content, .footer__contacts ul li, .events h2, .events span, .reservation h2, .reservation span, .copyright, .card__description h3, .btn, .brand a, .banners__item-title {
  font-weight: bold;
  text-transform: uppercase;
}

.banners, .products {
  margin: 4.75em 0 4em;
}

.banners__item {
  position: relative;
}
.banners__item-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  left: 2em;
  position: absolute;
  top: 2em;
}
.banners__item-title span {
  display: block;
  font-size: 2em;
  line-height: 1.25;
}
.banners__item-title span:first-child {
  font-size: 1.25em;
}

.brand a {
  align-items: center;
  color: inherit;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 1.85em;
  text-decoration: none;
}
.brand a img {
  margin-right: 0.75em;
  text-decoration: none;
}
.brand-brown {
  color: #392919;
}
.brand-white {
  color: #fff;
}

.btn {
  border: 0;
}
.btn-red {
  background-color: #c02223;
  color: #fff;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: normal;
}
.btn-yellow {
  background-color: #ffc657;
  color: #392919;
  font-family: "Oswald", sans-serif;
}

.card {
  margin: 1em 0;
}
.card__image {
  display: block;
}
.card__description h3 {
  font-family: "Oswald", sans-serif;
}

.copyright {
  font-family: "Oswald", sans-serif;
}

.events span, .reservation span {
  display: block;
  font-family: "Oswald", sans-serif;
}

.events {
  background-color: white;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
  margin: 5em 0 4em;
  padding: 1.5em;
}
.events h2, .events span {
  text-align: left;
}

.footer {
  background-image: url("../images/backgrounds/bg-footer.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: white;
  height: 525px;
  margin: 2em 0 4em;
  padding: 4em 2em 2em;
  position: relative;
}
.footer .row {
  height: 100%;
}
.footer__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  position: relative;
  width: 100%;
}
.footer__contacts ul {
  list-style: none;
}
.footer__contacts ul li {
  align-items: center;
  display: flex;
  font-family: "Oswald", sans-serif;
  line-height: 2.5;
}
.footer__contacts ul li i {
  display: inline-block;
  font-size: 1.75em;
  text-align: center;
  width: 3.25em;
}

.poster {
  background-color: #ffc657;
  background-image: url("../images/backgrounds/burger-header.png");
  background-repeat: no-repeat;
  background-position: 82% 8%;
  color: #392919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 51.5em;
  position: relative;
}
.poster .sticker {
  align-items: center;
  background-color: #c02223;
  border-radius: 50%;
  bottom: 5em;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 11em;
  position: absolute;
  right: 40%;
  text-transform: uppercase;
  width: 11em;
}
.poster .sticker__container {
  align-items: center;
  border: 2px dashed #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  height: 9em;
  width: 9em;
}
.poster .sticker__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}
.poster .sticker__price span.big {
  font-size: 3.55em;
}
.poster .sticker__price span.small {
  font-size: 1.75em;
}
.poster .sticker__text {
  display: flex;
  justify-content: space-between;
  font-size: 1.8em;
  line-height: 1.65;
}
.poster__content span {
  display: block;
}
.poster__content span:nth-child(1) {
  border: 2px dashed #392919;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
  margin-bottom: 1.25em;
  padding: 0.5em 1em;
}
.poster__content span:nth-child(2), .poster__content span:nth-child(3) {
  font-family: "Alfa Slab One", sans-serif;
  font-weight: normal;
}
.poster__content span:nth-child(2) {
  font-size: 6.55em;
  line-height: 1;
  text-shadow: 4px 4px #fee9bc;
}
.poster__content span:nth-child(3) {
  font-size: 2.75em;
  text-shadow: 3px 3px #fee9bc;
}

.products p {
  text-align: center;
}

.reservation {
  background-image: url("../images/backgrounds/burger-and-bottle.png"), url("../images/backgrounds/burger-on-plate.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  padding: 6.25em;
}
.reservation__card {
  margin: 0 auto 3em;
  width: 65%;
}
.reservation__card form {
  margin-top: 4.65em;
}
.reservation__card form button, .reservation__card form input {
  text-transform: uppercase;
}
.reservation__card form button {
  border-radius: 4px;
  padding: 0.8em;
  width: 100%;
}
.reservation__card form input {
  border: 1px solid #bebebe;
  color: #3d3d3d;
  font-family: "Oswald", sans-serif;
  font-size: 0.95em;
  margin-bottom: 1.85em;
  padding: 0.95em;
  width: 100%;
}

.site-header {
  background-color: #ffc657;
  padding: 3.38em 0 1em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.site-header__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.site-header__right ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2.38em;
}
.site-header__right ul li {
  margin-left: 3.55em;
}
.site-header__right ul li a {
  color: #392919;
  font-family: "Oswald", sans-serif;
  letter-spacing: 6px;
  text-decoration: none;
}

.social-links {
  display: flex;
  bottom: 0;
  right: 0;
  position: absolute;
}
.social-links a {
  text-decoration: none;
}
.social-links a i {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  color: black;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  margin-left: 0.5em;
  width: 1.5em;
  transition: all 0.2s;
}
.social-links a i:hover {
  background-color: white;
}

.text-center {
  text-align: center;
}

@media (max-width: 375px) {
  main {
    margin-top: 15em;
  }
  .banners__item-title {
    left: 1em;
    top: 1em;
  }
  .banners__item-title span {
    font-size: 1em;
  }
  .poster {
    display: none;
  }
  .reservation {
    padding: 1em;
  }
  .reservation__card {
    width: 100%;
  }
  .site-header {
    padding: 1em 0;
  }
  .site-header__right {
    align-items: flex-start;
    padding-top: 0.5em;
  }
  .site-header__right ul {
    flex-direction: column;
    margin-top: 1em;
  }
  .site-header__right ul li {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
